$header1: 2.25rem;
$header2: 1.5rem;
$text: 1rem;

$header1-computer: 6rem;
$header2-computer: 4rem;
$header3-computer: 3rem;
$text-computer: 2.125rem;


$bg_dark: #111111;
$bg_light: #151515;
$bg-lightest: #222222;
$accent: #EF0ACC;

@mixin flex($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin center() {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin position($top, $left) {
    position: relative;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
}

@import "global";
@import "index";

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { 

// }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { 

// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { 

// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { 

// }