$header1: 9.6rem;
$header2: 6.4rem;
$header3: 3.4rem;
$header4: 1rem;
$text: 2.4rem;
$text-color:#c5c5c5;
$bg-darker: #000000;
$bg-lighter:#151515;
$accent:    #EF0ACC;

@mixin flex($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin center() {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin position($top, $left) {
    position: relative;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
}

@mixin border() {
    border: 2px solid #000000;
}

@import "global";
@import "index";