@font-face {
  font-family: 'Sansation';
  src: url("../fonts/Sansation_Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  width: 100%;
}

h1, h2 {
  color: #EF0ACC;
  font-family: 'Bungee Shade', cursive;
  font-weight: 100;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  color: #cccccc;
  font-family: 'Sansation', cursive;
}

a {
  text-decoration: none;
  color: #EF0ACC;
  font-family: 'Codystar', cursive;
}

ul {
  list-style: none;
}

#hero-section {
  background-image: url("../images/Hero-img.png");
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hero-section nav {
  position: absolute;
  display: none;
}

.hero-text-wrapper {
  height: 40%;
  text-align: center;
  margin-bottom: 5rem;
  padding: 0 1rem;
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-text-wrapper #main-text {
  line-height: 50px;
  margin-bottom: 1rem;
}

.hero-text-wrapper #slogan {
  font-family: 'Caveat', cursive;
}

#arrow {
  position: relative;
  top: 10%;
  left: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: arrow 2s ease-in-out alternate infinite;
          animation: arrow 2s ease-in-out alternate infinite;
}

#venue-section {
  background-color: #151515;
  background-color: #151515;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23222222' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E");
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#venue-section #venue-img {
  display: none;
}

.venue-text-wrapper {
  height: 80%;
  width: 80%;
  padding: 1rem;
  background-color: #222222;
  border-radius: 10px;
  -webkit-box-shadow: -10px 20px 0px 0px #77777777;
          box-shadow: -10px 20px 0px 0px #77777777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.venue-text-wrapper #address {
  font-family: 'Sansation', cursive;
  color: white;
}

.navbar {
  position: absolute;
  display: none;
}

#info-section {
  position: relative;
  background-color: #111111;
  border-top: 2px solid #000000;
  text-align: center;
  line-height: 50px;
}

.info-card-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-card {
  height: 25%;
  width: 33%;
  background-color: #151515;
  border: 1px solid #000000;
}

.info-card h1 {
  font-size: 1rem;
  line-height: 25px;
  padding: 0 0.1rem;
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.faq-text {
  position: relative;
  top: 50%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  color: #EF0ACC;
  font-family: 'Caveat', cursive;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.info-card-click-active {
  opacity: 1;
}

.info-active {
  border-left: 1px solid #EF0ACC;
}

#social-text {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */